header{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    border: 30px;
    height: 15px;
    background-color: #edf0f1;
}
body{
    width: 100%;
}
.sidebar{
    padding-top: 13px;
   
    
}

.aboutlogo{
    display: flex;
}

.form {
    display: flex;
    padding-top: 13px;
    
}
.logo{
    margin-left: 1em;
}

.corner{
    display: flex;
    padding-left: 13px;
    gap: 1em;
    
}
.logo> a> img{
    height: 50px;
    width : 50px;
    padding-left: 1px;
}
.sidebar> a> img{
    height: 20px;
    width : 20px
    
}
.audio> a> img{
    height: 20px;
    width : 20px
}
.create> a> img{
    height: 20px;
    width : 20px
}
.notify> a> img{
    height: 20px;
    width : 20px
}
.user>a {
    text-decoration: none;
    
}
.create{
    padding-top: 13px;
}
.notify{
    padding-top: 13px;
}

.middle{
    display: flex ;
    gap: 2em;
    
}
.thumpnails{
    border: solid;
}
.img1>a>img ,.img2>a>img , .img3>a>img, .img4 >a>img{
    height: 150px;
    width: 150px;
}

.thump1, .thump2, .thump3, .thump4{
    display: flex;

}
.youtube>iframe{
    padding-top: 10px;
    padding: 10px 10px;
   
    
}
.likeshare,.likes{
    display: flex;
    justify-content: space-between;
    

}
.like, .dislike, .share, .download, .clip , .save{
    display: flex;
    gap: 2em;
}
.likeshare>img{
    width: 10px;
    height: 10px;

}
.likes>p{
    padding: 0px;
    margin: 0ch;
}

.textlike{
    margin: 0px 8px 0px -29px;
}
.disliketext>p{
    margin: 13px -2px 0px -30px;
}
.sharetext{
    margin: -4px -1px 0px -31px;
}
.down{
    margin: -3px -2px 0px -33px;;
}
.cliptext{
    margin: -5px 3px 0px -28px;
}
.savetext{
    margin: 11px 12px 3px -27px;
}
